/* INDEX */
/* ----------------------------- */
/* 1. Colours */
/* 2. Button */
/* 3. Flex and Grid */
/* 4. Padding */
/* 5. Border */
/* 6. Text Hover Effects */
/* ----------------------------- */






/* Colours */
/* ----------------------------- */
.text_blue {
    color: var(--primary-blue);
    font-weight: 300;
}

.text_grey {
    color: var(--neutral-grey);
    font-weight: 300;
}

.text_white {
    color: var(--white);
    font-weight: 300;
}

.bg_blue {
    background-color: var(--primary-blue);
}

.bg_white {
    background-color: var(--white);
}

.bg_grey {
    background-color: var(--neutral-l-grey);
}

.bg_l_grey {
    background-color: var(--neutral-white);
}










/* Button */
/* ----------------------- */
.btn {
    background-image: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border: none;
    color: var(--white);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    border-radius: 25px;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(115%);
}





/* Flex and grid */
/* --------------------------- */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
 
.grid_4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.grid_5 {
    grid-template-columns: repeat(5, 1fr);
}




/* Padding */
.py1 {
    padding: 1rem 0;
}

.py2 {
    padding: 1.5rem 0;
}

.py3 {
    padding: 2rem 0;
}







/* Border */
.hover_border {
    cursor: pointer;
    transform: translateY(13px);
    color: var(--primary-blue);
    padding-bottom: 20px;
    border-bottom: 6px solid transparent;
    border-image: linear-gradient(to right, var(--primary-green), var(--primary-cyan));
    border-image-slice: 1;
}



/* Text Hover Effects */
.article h3:hover,
footer .menu li:hover {
    cursor: pointer;
    color: var(--primary-green);
}

.green_icon {
    fill: hsl(136, 65%, 51%);
}